.footer{
    .divider{
        width: 100%;
        background-color: rgb(74, 74, 74);
        height: 1px;
        margin: 2rem 0 10rem 0;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        .image-footer{
            img{
                width: 120px;
            }
        }
    }
    }