/* Media queries in SCSS */

// Define a mixin for common breakpoints
@mixin respond-to($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 480px) {
        @content;
      }
    }
  
    @else if $breakpoint == tablet {
      @media (max-width: 768px) {
        @content;
      }
    }
  
    @else if $breakpoint == desktop {
      @media (min-width: 1024px) {
        @content;
      }
    }
  }

.header{
    transition: all .2s ease-in-out;
    position: fixed;
    inset: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 1000px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    ul{
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            a{
                font-weight: 200;
                font-size: 1rem;
                position: relative;
                transition: all .2s ease-in-out;
                &:hover{
                    opacity: .6;
                    &::after{
                        width: 70%;
                        opacity: .6;
                    }
                }
                &::after{
                    content: '';
                    transition: all .2s ease-in-out;
                    width: 0%;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
    
}

.active-header{
    background-color: rgb(82, 82, 82);
    width: 100vw;
    top: 10px;
    ul{
        li{
            a{
                color:white;
                &:hover{
                    &::after{
                        background-color: white;
                    }
                }
            }
        }
    }
}